Table {
    font-family : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;  
    height: 500px;
}

.container{
    width: 500px;
    background-color: #B69A47;
    position: absolute;
    top: 50px;
}

th{
    text-align: left;
    border: 1px black;
    padding: 5px;   
}

td{
    border: 1px; 
    padding: 5px;
}

table, th, td{
    border: 1px solid black;
}

tr:nth-child(odd) {
background-color: #B69A47;
}

tr:nth-child(even) {
    background-color:#001282;
}

th {
    background-color: #001282;
}


body{
    color: white
}

tr:nth-child(1) {
    background-color: green;
}

tr:nth-child(2) {
    background-color: rgb(109, 177, 8);
}

tr:nth-child(3) {
    background-color:  rgb(109, 177, 8);
}

tr:nth-child(4) {
    background-color:  rgb(109, 177, 8);
}

tr:nth-child(5) {
    background-color:  rgb(109, 177, 8);
}

tr:nth-child(19) {
    background-color: red;
}

tr:nth-child(20) {
    background-color: red;
}

tr:nth-child(21) {
    background-color: red;
}

tr:nth-child(22) {
    background-color: red;
}


