:root {
    --blue: #001282;
    --gold: #B69A47;
    --white: #FEFEFE;
    --yellow: #FEDB37;
    --hoverColor: #F28928;
    --headings: 'Bebas Neue', cursive;
    --main: 'DM Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: var(--main);
}

header {
    background-color: var(--gold);
}
h1 {
    text-align: center; 
    color: var(--blue);
    font-family: var(--headings);
    font-size: 3em;
}
/* Modal */
#modal{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 15em;
    overflow: auto;
}
#modalCont{
    width: 60%;
    margin: auto;
    padding: 2em;
    background-color: var(--yellow);
    border: 3px solid var(--gold);
    border-radius: 25px;
}
#pickMe{
    display: flex;
    flex-direction: column;
    padding: 0.5em;

}
label{
   font-family: var(--headings);
   font-size: 2em;
   padding-inline: 0.5em;
   padding-block: 1em;
   font-weight: 700;
   text-align: center;
}
input{
    display: flex;
    align-self: center;
    border: none;
    border-radius: 25px;
    width: 60%;
    text-align: center;
    padding: 0.8em;
    margin: 1em;
}
#buttonCont{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
#cancel, #submit{
    border: none;
    border-radius: 25px;
    padding: 1em 2em;
    margin-inline: 2em;
}
#cancel{
    background-color: var(--blue);
    color: var(--white);
}
#submit{
    background-color: var(--gold);
    color: var(--white);
}
#cancel:hover{
    background-color: var(--hoverColor);

}
#submit:hover{
    background-color: var(--hoverColor);
}
/* Hides the main content until button is clicked */
.hide {
    display: none;
}
/*Search Container with displayed favourites */
#searchCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 0.5em;
    border-radius: 18px;
    background-color: var(--blue);
    min-height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#searchCont li{
    color: var(--white);
    padding: 0.5em;
}
.pure-button {
    background-color: #FEDB37;
    border-radius: 25px;
}
.pure-button:hover{
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
}

.searchedFor{
    font-size: 18px;
    color: var(--white);
    padding: 0.5em;
}


/*Stats Container */
#statsCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 1em;
    border: 2px solid var(--blue);
    border-radius: 25px;
    height: 100%;
}

/*Video Container */
/*change the id's name */
#videoOne, #videoTwo {
    margin: 2.5em;
    min-height: 150px;
    max-width: 40%;
    font-size: 14px;
    padding: 1em;
    text-align: center;

}

/*League Standings Container */
#leagueCont {
    border: 2px solid var(--gold);
    border-radius: 25px;
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 1em;
    height: 500px;
    /*Height is 500 for now, may adjust it again when Jorge's part is in */
}
/*Upcoming Matches Container */
#upcomingCont {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 0.5em;
    margin-inline: 0.5em;
    margin-block: 1em;
    height: 500px;
    color: var(--white);
    text-align: center;
    overflow-y: auto;
 }

 .upcoming-header {
    padding: 0.4em;
    font-size: 2.5em;
    text-decoration: underline var(--gold);
    font-weight: bolder;
    font-family: var(--headings);
 }

 .divison-upcoming-section {
    text-align: center;
 }

 .divison-upcoming {
    font-size: 1em;
    font-weight: bolder;
    text-decoration: underline var(--gold);
 } 

.division-name-upcoming {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline var(--gold);
}
 .match {
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--gold);
    border-radius: 10px;
    min-height: 200px;
 }
.match img{
    height: 40%;
    width: 40%;
    /*I checked multiple screen sizes and percentages and this looked the best */
}
.match-time{
    font-size: 1.2em;
    padding-block: 0.3em;
}
 .match-date {
    font-size: 1.2em;
    padding-bottom: 0.3em;
 }
 .match-up {
    font-size: 1.2em;
    padding: 0.5em;
 }
 .button-upcoming-games .pure-button {
        margin: 0.4em;
        border-radius: 10px;
 }

 .button-xlarge {
    font-size: 1em;
 }
footer{
    font-family: var(--headings);
    background-color: var(--gold);
    color: var(--blue);
    font-size: 1.2em;
    text-align: center; 
    padding: 1em;
    margin-top: 1em;
}
footer h5{
    font-family: var(--main);
}
@media screen and (max-width: 500px){
    #modalCont{
        height: 300px;
        width: 300px;
        padding: 0.6em;
    }
    label{
        font-size: 2em;
    }
    input{
        margin-block: 0.2em;
        width: 70%;
        padding-block: 0.8em;  
    }
    #buttonCont{
        display: flex;
        flex-direction: column;
    }
    #cancel{
        padding-block: 0.5em;
        margin-block: 0.3em;
    }
    #submit{
        padding-block: 0.5em;

    }
}