:root {
    --blue: #001282;
    --gold: #b49846;
    --white: #FEFEFE;
    --yellow: #FEDB37;
    --hoverColor: #F28928;
    --headings: 'Bebas Neue', cursive;
    --main: 'DM Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: var(--main);
}

header {
    background-color: var(--gold);
}
h1 {
    text-align: center; 
    color: var(--blue);
    font-family: var(--headings);
    font-size: 3em;
}

/* Modal */
#modal{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 15em;
    overflow: auto;
}
#modalCont{
    width: 60%;
    margin: auto;
    padding: 2em;
    background-color: var(--yellow);
    border: 3px solid var(--gold);
    border-radius: 25px;
}
#pickMe{
    display: flex;
    flex-direction: column;
    padding: 0.5em;

}
label{
   font-family: var(--headings);
   font-size: 2em;
   padding-inline: 0.5em;
   padding-block: 1em;
   font-weight: 700;
   text-align: center;
}
input{
    display: flex;
    align-self: center;
    border: none;
    border-radius: 25px;
    width: 60%;
    text-align: center;
    padding: 0.8em;
    margin: 1em;
}
#buttonCont{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
#cancel, #submit, #cancelMatchData {
    border: none;
    border-radius: 25px;
    padding: 1em 2em;
    margin-inline: 2em;
}
#cancel{
    background-color: var(--blue);
    color: var(--white);
}
#submit{
    background-color: var(--gold);
    color: var(--white);
}
#cancel:hover{
    background-color: var(--hoverColor);

}
#submit:hover{
    background-color: var(--hoverColor);
}
/* Hides the main content until button is clicked */
.hide {
    display: none;
}
/*Search Container with displayed favourites */
#searchCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 0.5em;
    border-radius: 18px;
    background-color: var(--blue);
    min-height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#searchCont li{
    color: var(--white);
    padding: 0.5em;
}
.pure-button {
    background-color: #FEDB37;
    border-radius: 25px;
}
.pure-button:hover{
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
}

.searchedFor{
    font-size: 18px;
    color: var(--white);
    padding: 0.5em;
}
#faveClearBtn{
    background-color: var(--gold);
    border: none;
    width: 30%;
    text-align: center;
    margin: 1em;
}
#faveClearBtn:hover{
    background-color: var(--white);
    color: var(--blue);
}
/* Past Games Container */
#pastCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 2px solid var(--blue);
    border-radius: 25px;
    height: 375px;
    overflow-y: scroll;
}
.past-header{
    font-family: var(--headings);
    text-align: center;
    color: var(--blue);
    font-size: 2.3em;
}
.button-past-games{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divison-past{
    padding-left: 1em;
    padding-top: 0.8em;
    font-weight: 700;
    font-size: 1.6em;
    text-decoration: underline;
}
.past-divison-section{
    padding: 2em;
}
.pastmatch{
   font-size: 1.2em;
   margin: 1em;
   border: 2px solid var(--gold);
   border-radius: 15px;
   padding: 1em;
}
.past-match-date{
    font-size: 1.2em;
}
.home-match-result{
    font-size: 1.2em;
}
.division-name-past{
   font-family: var(--headings);
   font-size: 1.2em;   
}
.match-up2{
    font-size: 1.3em;
}
.past-match-up{
    float: right;
    height: 80px;
}

/*Video Container */
#youtube_container {
    margin-block: 1em;
}
#videoOne, #videoTwo {
    margin: 2.5em;
    min-height: 150px;
    max-width: 40%;
    font-size: 14px;
    padding: 1em;
    text-align: center;

}

/*League Standings Container */
#leagueCont {
    border: 2px solid var(--gold);
    border-radius: 25px;
    margin-block: 1em;
    margin-inline: 0.5em;
    height: 600px;
    overflow-y: auto;
    /*Height is 500 for now, may adjust it again when Jorge's part is in */
    /* adjusted to 1000px for now -Jonson */
    /*Changed it to 600px -Victoria */
}
#leagueTitleAndButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#leagueBtnCont{
    flex-direction: row;
    justify-content: space-evenly;
    margin-block: 0.5em;
}
#display-south-south-league, #display-southern-central-league, #display-north-league, #display-isthmian-legue{
   margin-inline: 1em;
   margin-block: 0.5em;
}
#south-south-table-heading, #southern-central-table-heading, #northern-table-heading, #isthmian-table-heading{
    font-family: var(--headings);
    font-size: 2.4em;
    color: var(--blue);
    margin-top: 0.5em;
}
.league-table {
    font-family : var(--main);
    border-collapse: collapse;
    width: 100%;  
}
td{
    padding: 0.5em;
}
table, th,  td{
    border: 1px solid var(--gold);
}
.positionTitle, .teamTitle, .winsTitle, .drawTitle, .lossTitle, .totalTitle{
    color: var(--blue);
    font-weight: 600;
    background-color: hsla(45, 49%, 49%, 0.8);
    /*Changes the opacity of gold colour*/
}
.league-standings-container:nth-child(odd) {
background-color: #B69A47;
}

.league-standings-container:nth-child(even) {
    background-color:#001282;
}

.league-standings-container:nth-child(1) {
    background-color: green;
}

.league-standings-container:nth-child(2) {
    background-color: rgb(109, 177, 8);
}

.league-standings-container:nth-child(3) {
    background-color:  rgb(109, 177, 8);
}

.league-standings-container:nth-child(4) {
    background-color:  rgb(109, 177, 8);
}

.league-standings-container:nth-child(5) {
    background-color:  rgb(109, 177, 8);
}

.league-standings-container:nth-child(19) {
    background-color: red;
}

.league-standings-container:nth-child(20) {
    background-color: red;
}

.league-standings-container:nth-child(21) {
    background-color: red;
}

.league-standings-container:nth-child(22) {
    background-color: red;
}


/*Upcoming Matches Container */
#upcomingCont {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 0.5em;
    margin-inline: 0.5em;
    margin-block: 1em;
    height: 600px;
    color: var(--white);
    text-align: center;
    overflow-y: auto;
 }

 .upcoming-header {
    padding: 0.4em;
    font-size: 2.5em;
    text-decoration: underline var(--gold);
    font-weight: bolder;
    font-family: var(--headings);
 }

 .divison-upcoming-section {
    text-align: center;
 }

 .divison-upcoming {
    font-size: 1em;
    font-weight: bolder;
    text-decoration: underline var(--gold);
 } 

.division-name-upcoming {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline var(--gold);
}
 .match {
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--gold);
    border-radius: 10px;
    min-height: 200px;
 }
.match img{
    height: 40%;
    width: 40%;
    /*I checked multiple screen sizes and percentages and this looked the best */
}
.match-time{
    font-size: 1.2em;
    padding-block: 0.3em;
}
 .match-date {
    font-size: 1.2em;
    padding-bottom: 0.3em;
 }
 .match-up {
    font-size: 1.2em;
    padding: 0.5em;
 }
 .button-upcoming-games .pure-button {
        margin: 0.4em;
        border-radius: 10px;
 }

 .button-xlarge {
    font-size: 1em;
 }
/*Pop up match data modal */
 #modalUpcoming {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    padding-top: 4em;
    overflow: auto;
 }

#modalContUpcoming {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--yellow);
    border: 3px solid var(--gold);
    border-radius: 25px;
    width: 60%;
}
.pure-table{
    width: 80%;
}
#modalContUpcoming img{
    padding-left: 1em;
    display: flex;
    float: right;
    align-items: center;
}
.modal-match-time {
    text-align: left;
    padding-block: 0.2em;
    font-size: 1.2em;
}

.modal-match-date {
    text-align: left;
    padding-block: 0.2em;
    font-size: 1.2em;
}
.match-data-stadium {
    text-align: left;
    padding-block: 0.5em;
}
.homeTable, .awayTable{
  text-align: left;
}

.homeLineupHeader, 
.awayLineupHeader{
    font-family: var(--headings);
    color: var(--blue);
    padding-block: 0.5em;
    font-size: 1.8em;
    
}
.cancelMatchData{
   background-color: var(--blue);
   border: none;
   color: var(--white);
   margin-block: 1em;
   padding: 0.7em 3em;
}
.cancelMatchData:hover{
    background-color: var(--white);
    color: var(--blue);
}
th{
   background-color: #001282;
   color: var(--white);
}

footer{
    font-family: var(--headings);
    background-color: var(--gold);
    color: var(--blue);
    font-size: 1.2em;
    text-align: center; 
    padding: 1em;
    margin-top: 1em;
}
footer h5{
    font-family: var(--main);
}
@media screen and (max-width: 500px){
    h1{
        font-size: 2.5em;
    }
    #modalCont{
        height: 300px;
        width: 300px;
        padding: 0.6em;
    }
    #youtube_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em;
    }
    label{
        font-size: 2em;
    }
    input{
        margin-block: 0.2em;
        width: 70%;
        padding-block: 0.8em;  
    }
    #buttonCont{
        display: flex;
        flex-direction: column;
    }
    #cancel{
        padding-block: 0.5em;
        margin-block: 0.3em;
    }
    #submit{
        padding-block: 0.5em;

    } 
    #modalUpcoming {
        position: fixed;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        padding-top: 7em;
        overflow: auto;
     }
     #modalContUpcoming {
        margin: 0 auto;
        padding: 2em;
        background-color: var(--yellow);
        border: 3px solid var(--gold);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
    }
    #modalContUpcoming img{
        display: flex;
        justify-content: center;
         align-self: center;
         padding: 0.5em;
         margin: 0.5em;
     }
     .button-past-games{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-block: 0.5em;
        justify-content: space-evenly;
     }
     .button-past-games .pure-button{
         margin: 0.3em;
     }
     .match-up2{
        font-size: 1em;
     }
     .past-match-date{
        font-size: 0.8em;
     }
     .home-match-result{
        font-size: 0.8em;
     }
}
@media screen and (max-width: 380px){
    #formSearch{
        width: 90%;
    }
    #innerSubmit{
        margin-left: 1em;
        margin-bottom: 1em;
        padding-inline: 1.5em;
    }
    #youtube_container{
        margin: 0;
        padding: 0;
    }
    
    #modalContUpcoming {
        padding: 1em;
        width: 80%;
    }
    #modalContUpcoming img{
        height: 25%;
        width: 25%;
        
    }
    .modal-match-time, .modal-match-date,  .match-data-stadium {
        font-size: 1em;
    }
    .homeLineupHeader, 
    .awayLineupHeader{
        font-size: 1.4em;
    }
    .homeTable, .awayTable{
        font-size: 0.8em;
    }
}