:root {
    --blue: #001282;
    --gold: #B69A47;
    --white: #FEFEFE;
    --yellow: #FEDB37;
    --headings: 'Bebas Neue', cursive;
    --main: 'DM Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: var(--main);
}

header {
    background-color: var(--gold);
}
h1 {
    text-align: center; 
    color: var(--blue);
    font-family: var(--headings);
    font-size: 3em;
}

/*Search Container with displayed favourites */
#searchCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 0.5em;
    border-radius: 18px;
    background-color: var(--blue);
    min-height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#searchCont li{
    color: var(--white);
    padding: 0.5em;
}
.pure-button {
    background-color: #FEDB37;
    border-radius: 25px;
}
.pure-button:hover{
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
}

/*Stats Container */
#statsCont {
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 1em;
    border: 2px solid var(--blue);
    border-radius: 25px;
    height: 100%;
}

/*Video Container */
#video1, #video2 {
    border: 1px solid var(--yellow);
    border-radius: 25px;
    margin: 2em;
    min-height: 150px;
    padding: 0.5em;
}

/*League Standings Container */
#leagueCont {
    border: 2px solid var(--gold);
    border-radius: 25px;
    margin-block: 1em;
    margin-inline: 0.5em;
    padding: 1em;
    height: 100%;
}
/*Upcoming Matches Container */
#upcomingCont {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 0.5em;
    margin-inline: 0.5em;
    margin-block: 1em;
    height: 1000px;
    color: var(--white);
    text-align: center;
    overflow-y: auto;
 }

 .upcoming-header {
    font-size: 35px;
    text-decoration: underline var(--gold);
    font-weight: bolder;
 }

 .divison-upcoming-section {
    text-align: center;
 }

 .divison-upcoming {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: underline var(--gold);
 }
.division-name-upcoming {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline var(--gold);
}

 .match {
    margin: 15px;
    padding: 10px;
    border: solid var(--gold);
 }

 .match-date {
    padding: 10px;
 }

 .match-up {
    padding: 10px;
 }


 .button-upcoming-games .pure-button {
        margin: 20px;
        border-radius: 0%;
 }

.button-upcoming-games {
   
}

 .button-xlarge {
    font-size: 125%;
 }
/*footer{
    background-color: var(--gold);
    text-align: center; 
    padding: 1em;
    margin-top: 2em;
} */
